{% extends 'base.html.twig' %}

{% block title %}Sign in
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="form">
        <form method="post" >
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="section-title">
                <h3 class="title">Please sign in</h3>
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputLogin">Username</label>
                <input class="input" type="text" value="{{ last_username }}" name="login" id="inputLogin" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">Password</label>
                <input class="input" id="inputPassword" name="password" placeholder="Password" required type="password">
            </div>
            <input
            type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {#
                                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                                See https://symfony.com/doc/current/security/remember_me.html
                                        
                                                <div class="checkbox mb-3">
                                                    <label>
                                                        <input type="checkbox" name="_remember_me"> Remember me
                                                    </label>
                                                </div>
                                            #}

            <button class="btn btn-lg primary-btn" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
