{% extends 'base.html.twig' %}

{# {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %} #}
{% form_theme registrationForm _self %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="section-title">
        <h1 class="title">Register</h1>
    </div>

    {{ form_start(registrationForm) }}
        <div class="form-group">
        {{ form_row(registrationForm.login, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.email, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.companyAccount, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.companyName, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.nIP, { 'attr': {'class': 'input'} }) }}
        </div>
        <button class="primary-btn order-submit">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
