.error-img {
    display: block;
    width: 10em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.error-text {
    text-align: center;
}

.content-center {
    width: 40em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

