.form {
    width: 360px;
    /* padding: 8% 0 0; */
    margin: auto;
}

form {
    text-align: center;
}

.form button {
    margin-top: 10px;
}

.form input[type='checkbox'] {
    margin-right: 5px;
} 