{% extends 'base.html.twig' %}

{% block title %}Hello ItemCategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for item_category in item_categories %}
        <a href="{{ path('itemcategory_read', {'itemCategoryID': item_category.id}) }}">
        {{ item_category.id }}
        {{ item_category.category }} </a><br/>
        contains:
        {% for item in item_category.itemID %}
            {{ item.name }}
        {% endfor %} <br/>
    {% endfor %}
</div>
{% endblock %}
