{% extends 'base.html.twig' %}

{% block title %}
    {{ item_category.category }}
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div
        class="example-wrapper">
        {# {{ item_category.id }} #}
        <h3 class="aside-title" style="font-family: Montserrat, sans-serif; text-transform: uppercase">{{ item_category.category }}
        </h3>
        <br/>
        <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            </tr>
        </thead>
            <tbody>
                {% for item in item_category.itemID %}
                    <tr>
                        {# <h4 class="product-name" style="font-family: Montserrat, sans-serif;"> #}
                        <th>{{ item.id }}</th>
                        <td>
                            <a href="{{ path('item_read', {'itemID': item.id}) }}">{{ item.name }}</a>
                        </td>
                        {# </h4> #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
{% endblock %}
