{% extends 'base.html.twig' %}

{% block title %}Add new wood
{% endblock %}


{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{# {% form_theme form _self %}
{% block form_widget_simple %} #}


{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {{ form_start(form) }}
        {# {% dump(form.wood) %} #}
        <div class="form-group">
        {{ form_row(form.wood, { 'attr': {'class': 'input'} }) }}
        </div>
        {{ form_row(form.submit, {'attr': {'class': 'primary-btn order-submit' }})}}
        {# <button class="primary-btn order-submit">Add</button> #}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% form_theme form _self %}

{% block textwidget %}{% endblock %}
