{% extends 'base.html.twig' %}

{% block title %}Hello WoodController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="cart-list">
    {% if woods is defined %}
        {% for wood in woods %}
            <div class="product-widget">
                    <div class="product-img">
                        <img src="{{ asset("img/wood_types/wood_type" ~ wood.id ~ ".jpg") }}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-name"><a href="#">{{ wood.Wood }}</a></h3>
                        <h4 class="product-price"><span class="qty">{{ wood.id }}</span></h4>
                    </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
