{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for order in orders %}
        <a href="{{ path('order_read', {'orderID': order.id}) }}">order_id: {{ order.id }}</a>, by user <a href="{{ path('user', {'uuid': order.userID.uuid}) }}">{{ order.userID.email }}</a><br/>
    {% endfor %}
</div>
{% endblock %}
