{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for user in users %}
        <a href="{{ path('user', {'uuid': user.uuid }) }}">{{ user.email }}</a>
    {% endfor %}
</div>
{% endblock %}
