{% extends 'base.html.twig' %}

{% block title %}Hello WishlistController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% for wishlistItem in wishlistItems %}
            <a href="{{ path('item_read', {'itemID' : wishlistItem.item.id}) }}">{{ wishlistItem.item.name }}</a>
            <button class="primary-btn order-submit" onclick="removeOneItem({{ wishlistItem.item.id }})" style="font-size:10px; padding:5px 20px;">remove</button>
        {% endfor %}
    </div>

    {% if app.user %}
    <script>
        function removeOneItem(itemID) {
            let route = '/api/remove_from_wishlist';

            $.ajax({
                url: route,
                type: 'delete',
                data: {
                    "user_id": {{  app.user.id }},
                    "item_id": itemID
                },
                success: function (result) {
                    location.reload();
                }
            });
        }
    </script>
    {% endif %}
{% endblock %}
