{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if results is empty %}
        No results.
    {% else %}
        {% for result in results %}
            <a href="{{ path('item_read', {'itemID': result.id}) }}">{{ result.name }}</a> <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
