{% extends 'base.html.twig' %}

{% block title %}{{ exceptionTitle }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <div class="content-center">
        <img src="{{ asset('img/not-found-logo.png') }}" class="error-img" alt="">
        <div class="section-title error-text">
            <h1 class="title">{{ exception|raw }}</h1>
        </div>
        <div class="error-text">
            <a class="btn btn-lg primary-btn" href="{{ path('home') }}">click here to go to the homepage</a>
        </div>
    </div>
{% endblock %}
