{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.delivery_street, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(form.delivery_postcode, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(form.delivery_country, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(form.delivery_city, { 'attr': {'class': 'input'} }) }}
        </div>
        {{ form_row(form.submit, {'attr': {'class': 'primary-btn order-submit' }})}}
    {{ form_end(form) }}
</div>
{% endblock %}
