{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="cart-list">
        {% set totalprice = 0 %}
        {% set totalquantity = 0 %}
        {% for order in orderRow %}
            {% for item in order.itemid %}
                <div class="product-widget">
                    <div class="product-img">
                        {% set item_images = item.images %}
                        {% if item_images[0] is defined %}
                            {% set image_url = 'uploads/images/' ~ item_images[0].source %}
                            <img src="{{ asset(image_url) }}" alt="">
                        {% endif %}

                        {# {% for image in item.images %}
                            {% set image_url = 'uploads/images/' ~ image.source %}
                            <img src="{{ asset(image_url) }}" alt="">
                            {% break %}
                        {% endfor %} #}
                    </div>
                    <div class="product-body">
                        <h3 class="product-name"><a href="#">{{ item }}</a></h3>
                        <h4 class="product-price"><span class="qty">{{ order.quantity }}x</span>{{ item.itemprice }} ZŁ => {{ item.itemprice * order.quantity }} ZŁ</h4>
                        <a onclick="removeOneItem({{ order.orderid.id }}, {{ item.id }})" id="remove-item" href="#" >
                            <i class="fa fa-close btn-danger"></i>
                        </a>
                    </div>
                    <a class="delete" onclick="removeItem({{ order.orderid.id }}, {{ item.id }})" id="remove-item" href="#" >
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            {% set totalprice = totalprice + (item.itemprice * order.quantity) %}
            {% set totalquantity = totalquantity + order.quantity %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="cart-summary">
        <small>{{ totalquantity }} Item(s) selected</small>
        <h5>SUBTOTAL: {{ totalprice }} ZŁ</h5>
    </div>
    <a class="btn primary-btn" href="{{ path('checkout') }}">go to checkout</a>
</div>

<script>
    function removeItem(basketID, itemID) {
        let route = '/api/remove_item_from_basket';

        $.ajax({
            url: route,
            type: 'delete',
            data: {
                "basket_id": basketID,
                "product_id": itemID
            },
            success: function(result) {
                let cartAmountDiv = document.getElementById("cart_amount");

                if (parseInt(result) > 0) {
                    if (cartAmountDiv === null){
                        let cartAmountLinkDiv = document.getElementById("cart_amount_link");
                        let newDiv = document.createElement("div");
                        newDiv.id = "cart_amount";
                        newDiv.className = "qty";
                        cartAmountLinkDiv.appendChild(newDiv);

                        cartAmountDiv = document.getElementById("cart_amount");
                    }

                    cartAmountDiv.innerHTML = result.toString();
                } else {
                    if (cartAmountDiv !== null) {
                        cartAmountDiv.parentNode.removeChild(cartAmountDiv);
                    }
                }

                location.reload();
            }
        });
    }

    function removeOneItem(basketID, itemID) {
        let route = '/api/remove_one_item_from_basket';

        $.ajax({
            url: route,
            type: 'delete',
            data: {
                "basket_id": basketID,
                "product_id": itemID
            },
            success: function(result) {
                let cartAmountDiv = document.getElementById("cart_amount");

                if (parseInt(result) > 0) {
                    if (cartAmountDiv === null){
                        let cartAmountLinkDiv = document.getElementById("cart_amount_link");
                        let newDiv = document.createElement("div");
                        newDiv.id = "cart_amount";
                        newDiv.className = "qty";
                        cartAmountLinkDiv.appendChild(newDiv);

                        cartAmountDiv = document.getElementById("cart_amount");
                    }

                    cartAmountDiv.innerHTML = result.toString();
                } else {
                    if (cartAmountDiv !== null) {
                        cartAmountDiv.parentNode.removeChild(cartAmountDiv);
                    }
                }

                location.reload();
            }
        });
    }
</script>
{% endblock %}
