{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px / 1.5 sans-serif;
    }
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.width) }}
    {{ form_row(form.height) }}
    {{ form_row(form.length) }}
    {{ form_row(form.item_amount) }}
    {{ form_row(form.item_price) }}
    {{ form_row(form.wood) }}
    {{ form_label(form.images) }}
    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        <li>{{ form_widget(form.images) }}
        </li>
    </ul>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>

<script>
    // setup an "add a tag" link
    var $addImageLink = $('<a href="#" class="add_image_link btn btn-primary">Add an image</a>');
    var $newLinkLi = $('<li></li>').append($addImageLink);

    jQuery(document).ready(function () { // Get the ul that holds the collection of tags
        var $collectionHolder = $('ul.images');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addImageLink.on('click', function (e) { // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see code block below)
            addImageForm($collectionHolder, $newLinkLi);
        });

        $('.remove-image').click(function (e) {
            e.preventDefault();

            $(this).parent().remove();

            return false;
        });

        function addImageForm($collectionHolder, $newLinkLi) { // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-image">x</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-image').click(function (e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }
    });
    </script>
{% endblock %}
