{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}

<div id="aside" class="col-md-3">
<!-- aside Widget -->
<div class="aside">
    <h3 class="aside-title">Categories</h3>
    <div class="checkbox-filter">
    {% set item_categoties = get_categories_with_count() %}
        {% for item_category in item_categoties %}
        <div class="input-checkbox">
            <input class="category-checkbox" id="category-{{ item_category.category.getid() }}" data-id={{ item_category.category.getid() }} type="checkbox">
            <label for="category-{{ item_category.category.getid() }}">
                <span></span>
                {{ item_category.category.category }}
                <small>({{ item_category.count }})</small>
            </label>
        </div>
        {% endfor %}
    </div>
</div>
<!-- /aside Widget -->

</div>

{% if items is defined %}
<div class="col-md-9">
    {% for item in items %}
    {% set categoryId = 0 %}
    {% for itemcategory in item.itemcategoryid %}
    {% set categoryId = itemcategory.id %}
    {% endfor %}
    <div class="col-md-4 col-xs-6 item" data-category-id={{categoryId}}>
        <div class="product" style="width: 263px;">
            <div class="product-img">
                {% set item_images = item.images %}
                {% if item_images[0] is defined %}
                    {% set image_url = 'uploads/images/' ~ item_images[0].source %}
                    <img src="{{ asset(image_url) }}" alt="">
                {% endif %}
            </div>
            <div class="product-body">
                <p class="product-category">{{ item.woodid[0].wood }}</p>
                <h3 class="product-name"><a href="{{ path('item_read', {'itemID': item.id}) }}">{{ item.name }}</a></h3>
                <h4 class="product-price">{{ item.itemprice }}zł <del class="product-old-price">{{ item.itemprice * 2 }}zł</del></h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist" tabindex="0" data-itemid="{{ item.id }}"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    <button class="quick-view" tabindex="0"><i class="fa fa-eye"></i><span class="tooltipp">view details (LINK DO PRODUKTU)</span></button>
                </div>
            </div>
            {% if app.user %}

            <div class="add-to-cart">
                <button class="add-to-cart-btn" tabindex="0" data-id={{item.id}} data-orderid="{% if order.id is defined and not null %}{{ order.id }}{% endif %}"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
{% if app.user %}
    <script>
        $('.add-to-cart-btn').click(function () {
            let user = {{ app.user.id }};
            let product = $(this).data("id");
            //console.log(product)
            let route = '/api/add_to_basket';
            let order_id = $(this).data('orderid');

            $.ajax({
                url: route,
                type: 'post',
                data: {
                    "user_id": user,
                    "product_id": product,
                    "product_quantity": 1
                },
                success: function (result) {
                    let cartAmountDiv = document.getElementById("cart_amount");

                    if (parseInt(result) > 0) {
                        if (cartAmountDiv === null) {
                            let cartAmountLinkDiv = document.getElementById("cart_amount_link");
                            let newDiv = document.createElement("div");
                            newDiv.id = "cart_amount";
                            newDiv.className = "qty";
                            cartAmountLinkDiv.appendChild(newDiv);

                            cartAmountDiv = document.getElementById("cart_amount");
                        }

                        cartAmountDiv.innerHTML = result.toString();
                        $('.cart-summary-amount').html(result.toString());
                    } else {
                        if (cartAmountDiv !== null) {
                            cartAmountDiv.parentNode.removeChild(cartAmountDiv);
                        }
                    }
                }
            });
            let new_route = '/api/get_order_amount/' + order_id;
            console.log(new_route);
            $.ajax({
                url: new_route,
                type: 'get',
                success: function (result) {
                    $('.cart-summary-subtotal').html(result.toString());
                }
            });
        })

        $('.add-to-wishlist').click(function() {
            let user = {{ app.user.id }};
            let route = '/api/add_to_wishlist';
            let item_id = $(this).data('itemid');
            $.ajax({
                url: route,
                type: 'post',
                data: {
                    "user_id": user,
                    "item_id": item_id,
                },
                success: function (result) {
                    let cartAmountDiv = document.getElementById("wishlist_amount");

                    if (parseInt(result) > 0) {
                        if (cartAmountDiv === null) {
                            let cartAmountLinkDiv = document.getElementById("wishlist_amount_link");
                            let newDiv = document.createElement("div");
                            newDiv.id = "wishlist_amount";
                            newDiv.className = "qty";
                            cartAmountLinkDiv.appendChild(newDiv);

                            cartAmountDiv = document.getElementById("wishlist_amount");
                        }

                        cartAmountDiv.innerHTML = result.toString();
                    } else {
                        if (cartAmountDiv !== null) {
                            cartAmountDiv.parentNode.removeChild(cartAmountDiv);
                        }
                    }
                }
            });
        })
    </script>
{% endif %}

<script>
function checkboxes() {
    isAnyChecked = false;
    $(".category-checkbox").each(function(){
        if($(this).is(":checked")){
            isAnyChecked = true;
            categoryId = $(this).data("id")
            $(".item").each(function() {
                itemCategoryId = $(this).data("category-id")
                if(itemCategoryId == categoryId) {
                    $(this).show()
                } else {
                    $(this).hide()
                }
            });
        }
    });
    categoryId = $(this).data("id")
    if(!isAnyChecked) {
            $(".item").each(function() {
            $(this).show();
        });
    }
}

$(document).ready(checkboxes);

$(".category-checkbox").change(checkboxes);
</script>

{% endif %}
{% endblock %}
