{% extends 'base.html.twig' %}

{% block title %}
    {% if item is defined %}
        {{ item.name ~ " - Carpentrex"}}
    {% endif %}
{% endblock %}

{% block body %}
    {# /* <style>
                                    .example-wrapper {
                                        margin: 1em auto;
                                        max-width: 800px;
                                        width: 95%;
                                        font: 18px / 1.5 sans-serif;
                                    }
                            
                                    .example-wrapper code {
                                        background: #F5F5F5;
                                        padding: 2px 6px;
                                    }
                                </style> */ #}

    <div
        class="example-wrapper">
        <!-- Product main img -->
        <div class="col-md-6 ">
            <div class="slick-initialized slick-slider" id="product-main-img">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 1832px;">
                        <div aria-hidden="false" class="product-preview slick-slide slick-current slick-active" data-slick-index="0" style="width: 458px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1; overflow: hidden;" tabindex="0">
                            {% set item_images = item.images %}
                            {% if item_images[0] is defined %}
                                {% set image_url = 'uploads/images/' ~ item_images[0].source %}
                                <img src="{{ asset(image_url) }}" alt="">
                                <img class="zoomImg" role="presentation" src="" style="position: absolute; top: -141.752px; left: -28.9581px; opacity: 0; width: 600px; height: 600px; border: medium none; max-width: none; max-height: none;" title=""></div>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
        <!-- /Product main img -->

        <!-- Product details -->
        <div class="col-md-6">
            <div class="product-details">
                <h2 class="product-name">
                    {% if item is defined %}
                        {{ item.name }}
                    {% endif %}
                </h2>
                <div>
                    <h3 class="product-price">
                        {% if item is defined %}
                            {{ item.getItemPrice() }}
                        {% endif %}
                        ZŁ
                        <del class="product-old-price">
                        {% if item is defined %}
                            {{ item.getItemPrice() * 2 }}
                        {% endif %}
                        ZŁ
                        </del>
                    </h3>
                    {% if item is defined  %}
                        {% if item.getItemAmount() > 0 %}
                            <span class="product-available">In Stock</span>
                        {% endif %}
                        {% if item.getItemAmount() <= 0 %}
                            <span class="product-unavailable">Out of stock</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="product-options">
                    <label>
                        Size
                    </label>
                    <p style="text-transform: none;">
                        {% if item is defined %}
                            {{ item.getWidth() ~ "mm x " ~ item.getHeight() ~ "mm x " ~ item.getLength() ~ "mm" }}
                        {% endif %}
                    </p>
                </label>
            </div>
            <div class="add-to-cart">
                {% if app.user is not null %}
                    <div class="qty-label">
                        Qty
                        <div class="input-number">
                            <input id="quantity" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                    {# <a class="btn btn-primary" href="#" id="add-to-cart">kup teraz</a> #}
                    <button class="add-to-cart-btn" href="#" id="add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                        add to cart</button>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a class="btn btn-primary btn-block" href="{{ path('item_edit', {'itemID': item.id}) }}" style="margin-top: 5px;">Edit</a>
                    {% endif %}
                {% endif %}
            </div>

            {% if item.itemcategoryid is defined and not null %}
                <ul>
                    <li>Category</li>
                    {% for itemcategory in item.itemcategoryid %}
                        <li>
                            <a href="{{ path('itemcategory_read', {'itemCategoryID': itemcategory.id}) }}">{{ itemcategory.category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>
    <!-- /Product details -->

    <!-- Product tab -->
    <div class="col-md-12">
        <div
            id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav">
                <li class="active">
                    <a aria-expanded="true" data-toggle="tab" href="#tab1">Description</a>
                </li>
            </ul>
            <!-- /product tab nav -->

            <!-- product tab content -->
            <div
                class="tab-content">
                <!-- tab1  -->
                <div class="tab-pane fade active in" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                {% if item is defined %}
                                    {{ item.getDescription() }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /tab1  -->
            </div>
            <!-- /product tab content  -->
        </div>
    </div>
    <!-- /product tab -->
</div>
{% if app.user %}
    <script>
        $('#add-to-cart').click(function () {
            let user = {{ app.user.id }};   
            let product = {{ item.id }};
            let route = '/api/add_to_basket';
            let quantity = $("#quantity").val()
            let maxQuantity = {{item.getItemAmount()}}
            console.log(quantity)
            if(quantity > maxQuantity)
            {
                window.alert("Podana ilość jest za duża. Maksymalna ilość: " + maxQuantity)
                return;
            }
            $.ajax({
                url: route,
                type: 'post',
                data: {
                    "user_id": user,
                    "product_id": product,
                    "product_quantity": quantity
                },
                success: function (result) {
                    let cartAmountDiv = document.getElementById("cart_amount");

                    if (parseInt(result) > 0) {
                        if (cartAmountDiv === null) {
                            let cartAmountLinkDiv = document.getElementById("cart_amount_link");
                            let newDiv = document.createElement("div");
                            newDiv.id = "cart_amount";
                            newDiv.className = "qty";
                            cartAmountLinkDiv.appendChild(newDiv);

                            cartAmountDiv = document.getElementById("cart_amount");
                        }

                        cartAmountDiv.innerHTML = result.toString();
                        $('.cart-summary-amount').html(result.toString());
                    } else {
                        if (cartAmountDiv !== null) {
                            cartAmountDiv.parentNode.removeChild(cartAmountDiv);
                        }
                    }
                }
            });
        })
    </script>
{% endif %}
{% endblock %}
