{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="section-title">
        <h1 class="title">Edit account</h1>
    </div>

    {{ form_start(editForm) }}
        <div class="form-group">
        {{ form_row(editForm.login, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(editForm.plainPassword, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(editForm.email, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(editForm.companyAccount, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(editForm.companyName, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="form-group">
        {{ form_row(editForm.nIP, { 'attr': {'class': 'input'} }) }}
        </div>
        <button class="primary-btn order-submit">Save</button>
    {{ form_end(editForm) }}
{% endblock %}
