{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper" style="font-family: Montserrat, sans-serif;">
        {% for userOrder in orders %}
        <h3 class="aside-title"
            style="font-family: Montserrat, sans-serif; text-transform: uppercase">{{ "Order number: " ~ userOrder.id }}
        </h3>
        <span>Order price: {{ userOrder.sumprice }} ZŁ</span>
        <br/>
        <span>Ordered products:</span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for orderRow in userOrder.orderRowId %}
                {% for item in orderRow.itemid %}
                    <tr>
                        {# <h4 class="product-name" style="font-family: Montserrat, sans-serif;"> #}
                        <th>{{ item.id }}</th>
                        <td>
                            <a href="{{ path('item_read', {'itemID': item.id}) }}">{{ item.name }}</a>
                        </td>
                        <td>
                            {{ orderRow.getQuantity() }}
                        </td>
                        {# </h4> #}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <br/>
        {% endfor %}
    </div>
{% endblock %}
